.App {
}

* {
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    border: 1px solid steelblue;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.pla {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.wrapper2 {
    overflow: scroll;
    height: 30vh;
    margin-top: 2em;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border: 1px solid red;
    border-radius: 10px;
    margin-bottom: 10px;
}

